# Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

# Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and **cannot be referred to by index or key**.

# Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

# Duplicates Not Alowed

Sets cannot have two items with the same value.

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

Note: The values `True` and `1` are considered the same value in sets, and are treated as duplicates:

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 'apple', 2, 'cherry', 'banana'}

`False` and `0` are considered the same value:

In [4]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

# Get the Length of a Set

To determine how many items a set has, use the len() function.

In [5]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

# Set Items - Data Types

Set items can be of any data type:

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [7]:
set1 = {"abc", 34, True, 40, "male"}

# type()

From Python's perspective, sets are defined as objects with the data type 'set':

In [8]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The set() Constructor

It is also possible to use the set() constructor to make a set.

In [9]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'apple', 'banana'}

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.

- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

# Access Set Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [10]:
# Loop through the set and print the values

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [12]:
# Check is "banana" is present in the set

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [13]:
# Check if "banana" is not present in the set

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# Change Items

Once a set is created, you cannot change its items, but you can add new items.

# Add Items

To add one item to a set use the `add()` method.

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

# Add Sets

To add items from another set into the current set, use the `update()` method.

In [15]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'mango', 'pineapple', 'banana', 'papaya'}

# Add Any Iterable

The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [16]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'cherry', 'orange', 'banana'}

# Remove Item

To remove an item in a set, use the `remove()`, or the `discard()` method.

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

Note: If the item to remove does not exist, `remove()` will raise an error.

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the `pop()` method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the `pop()` method is the removed item.

In [21]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

The `clear()` method empties the set:

In [22]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The `del` keyword will delete the set completely:

In [23]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Loop Sets

You can loop through the set items by using a `for` loop:

In [24]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

# Join Sets - IMPORTANT FOR REAL USE

There are several ways to join two or more sets in Python.

The `union()` and `update()` methods joins all items from both sets.

The `intersection()` method keeps ONLY the duplicates.

The `difference()` method keeps the items from the first set that are not in the other set(s).

The `symmetric_difference()` method keeps all items EXCEPT the duplicates.

# Union

The `union()` method returns a new set with all items from both sets.

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

You can use the `|` operator instead of th `union()` method, and you will get the same result.

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

Use `union()` when working with mixed iterables or when you want maximum clarity.

Use `|` when you're sure you're working with sets and want concise mathematical notation.

# Join Multiple Sets

All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas.

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 'a', 2, 3, 'apple', 'c', 'cherry', 'bananas', 'John', 'Elena', 'b'}

When using the `|` operator, separate the sets with more `|` operators:

In [28]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 'a', 2, 3, 'apple', 'c', 'cherry', 'bananas', 'John', 'Elena', 'b'}

# Join a Set and a Tuple

The `union()` method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [31]:
# Join a set with a tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)
print(type(z))

{1, 'a', 2, 3, 'c', 'b'}
<class 'set'>

# Update

The `update()` ethod inserts all items from one set into another.

The `update()` changes the original set, and does not return a new set.

Note: Both union() and update() will exclude any duplicate items.

In [32]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'c', 'b'}

# Intersection

Keep ONLY the duplicates

The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the `&` operator instead of the `intersection()` method, and you will get the same result.

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2

print(set3)

{'apple'}

The `intersection_update()` method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

A similar method exists for the `&=` operator:

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1 &= set2

print(set1)

{'apple'}

# Additional Set Operators

In [40]:
# Union
set1 |= set2   # same as set1.update(set2)

# Difference  
set1 -= set2   # same as set1.difference_update(set2)

# Symmetric difference
set1 ^= set2   # same as set1.symmetric_difference_update(set2)

# Difference

The `difference()` method will return a new set that will contain only the items from the first set that are not present in the other set.

In [41]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

You can use the `-` operator instead of the `difference()` method, and you will get the same result:

In [42]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2

print(set3)

{'cherry', 'banana'}

The `difference_update()` method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [43]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

# Symmetric Differences

The `symmetric_difference` method will keep only the elements that are NOT present in both sets.

In [44]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'google', 'cherry', 'banana'}

You can use the `^` operator instead of the `symmetric_difference()` method, and you will get the same result.

Note: The `^` operator only allows you to join sets with sets, and not with other data types like you can with the `symmetric_difference()` method.

In [45]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'microsoft', 'google', 'cherry', 'banana'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [46]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'google', 'banana'}

# Set Methods

# Python Set Methods

| Method | Operator | Description |
|--------|----------|-------------|
| `add()` | | Adds an element to the set |
| `clear()` | | Removes all the elements from the set |
| `copy()` | | Returns a copy of the set |
| `difference()` | `-` | Returns a set containing the difference between two or more sets |
| `difference_update()` | `-=` | Removes the items in this set that are also included in another, specified set |
| `discard()` | | Remove the specified item |
| `intersection()` | `&` | Returns a set, that is the intersection of two other sets |
| `intersection_update()` | `&=` | Removes the items in this set that are not present in other, specified set(s) |
| `isdisjoint()` | | Returns whether two sets have a intersection or not |
| `issubset()` | `<=` | Returns whether another set contains this set or not |
| | `<` | Returns whether all items in this set is present in other, specified set(s) |
| `issuperset()` | `>=` | Returns whether this set contains another set or not |
| | `>` | Returns whether all items in other, specified set(s) is present in this set |
| `pop()` | | Removes an element from the set |
| `remove()` | | Removes the specified element |
| `symmetric_difference()` | `^` | Returns a set with the symmetric differences of two sets |
| `symmetric_difference_update()` | `^=` | Inserts the symmetric differences from this set and another |
| `union()` | `|` | Return a set containing the union of sets |
| `update()` | `|=` | Update the set with the union of this set and others |